@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Al Nile';
    src: url('./assets/fonts/alnilebold.ttf') format('truetype');
}

body {
    background-color: #000;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.Actor {
    font-family: 'Actor', sans-serif !important;
}

.Al_Nile {
    font-family: 'Al Nile' !important;
}

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.gradientBorder::before {
    background: linear-gradient(45deg, #FF2DF7, #00E0FF);
}

input {
    border-radius: 23.298px;
    border: 0.777px solid var(--DOML-gradient-1, #00F0FF);
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(20px);
    padding: 10px 34px;
}